div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}

.ardr-mem-list-button-nuxt {
    margin-top: 5px;
}

.ardr-err-not-data {
    text-align: center;
    padding: 20px;
}

.ardr-el-pagination {
    margin-top: 20px;
}

div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}

div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}

div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}

div.sq-login-box div.img-box img {
    width: 100%;
}

.ardr-dash-board-top {
    display: flex;
    justify-content: space-around;
}

.dash-board-top-contents {
    width: 430px;
    box-shadow: 5px 4px 8px 3px #5d5d5d7d;

}

.icon-contents {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px 15px 15px 15px;
    line-height: 1;
    font-size: 15px;
}


.icon-align-contents {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icon-contents-all {
    line-height: 1.5;
    text-align: center;
}

.dash-board-top-contents-title {
    padding: 10px;
    background-color: #D42000;
    color: #fff;
    font-weight: 700;
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

.ardr-contents-ul > li {
    color: #767676;
}

.ardr-contents-ul > li:first-child {
    font-weight: 600;
    color: #545454 !important;
}

.icon-align-contents > i {
    font-size: 40px;
    color: #666666;
}

.dash-board-contents-line {
    border: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
}

.third-contents > span {
    background-color: #d42000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.1;
    font-weight: normal;
}

.second-contents {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.first-contents {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;

}

.ardr-counting-number {

    font-size: 25px;
    margin-right: 15px;
    color: #545454;
}

.ardr-counting-number > span {
    font-size: 20px;
}

/* 대쉬보드 top End*/
.ardr-dash-board-bottom-graph-pren{
width: 100%;
}
.ardr-dash-board-bottom {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

}

.ardr-cart-board {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.ardr-cart-board > img {
    width:  100%;
}

.ardr-dash-board-bottom-contents-title {
    padding: 10px;
    background-color: #D42000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    box-shadow: 5px 4px 8px 3px #5d5d5d7d;
}


/*mem list */

.ardr-mem-list-condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
}

.ardr-mem-list-button {
    display: flex;
    justify-content: flex-end;
}

.ardr-mem-list-button > input {
    margin: 5px;
}

.ardr-mem-list-title {
    display: flex;
    font-size: 16px;
    padding: 10px 15px;
    background: #d42000;
    color: #fff;
    margin: auto;
    width: 100vh;
    justify-content: center;
}

.ardr-mem-search {
    font-size: 18px;
    font-weight: 800;
    display: flex;
    align-items: center;

    margin-right: 15px;
}

form {
    display: flex;
    align-items: center;
}

form > i {
    padding: 10px;

    cursor: pointer;
}

.el-icon-search {
    font-size: 30px;
    font-weight: 900;
}


.ardr-el-date-join {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
}


.demonstration {
    display: inline-block;
}

.block {

    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 5px solid #d42000;
}

input[type= button] {
    border: none;
    background: #d42000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

#sbar {
    width: 600px;
    height: 20px;
    color: #333;
    padding: 10px;
    border: none;

}

#sbar[value] {
    color: #333333;
}

.ardr-mem-list-table {
    margin: auto;
    width: 100%;
}

.ardr-el-date-picker {
    width: 400px !important;
    margin-top: 10px;
}

.ardr-mem-list-table > tr, td {
    padding: 10px;
    border: 3px solid #ddd;
    box-sizing: border-box;
    text-align: center;

}

.ardr-el-date-join {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.ardr-status-level-flex {
    display: flex;


}

.ardr-status-level-flex > div {
    padding-left: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 5px solid #d42000;
}

.ardr-status-level-flex > div > p {
    display: inline-block;

}

.ardr-status-level-flex > div > input {

    margin-left: 10px;
}

.ardr-back-p-asset {
    box-sizing: border-box;
    border: 2px solid #d42000;
    border-radius: 5px;
    padding: 5px;
    color: #d42000;
    margin: 0 10px;
}

table {
    width: 100%;
}

th {
    padding: 10px;
    background: #d42000;
    text-align: center;
    border: 3px solid #d42000;
    box-sizing: border-box;

    color: #fff;
}

.el-pager li.active {
    color: #d42000;
}

.el-pager li:hover {
    color: #721400;
}

/*게시판등록*/
.daitso-board-creat-wrap {
    display: flex;
    justify-content: space-between;
}

summary::marker {
    content: "+ ";
    font-family: monospace;
}

/* 열린 상태 스타일링 (선택적) */
.ardr-con-board-form > div:first-child {
    font-weight: 900;
}

details[open] summary::marker {
    content: "- ";
}

.ardr-con-board-form > div {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.ardr-con-board-form > div > span {
    padding-right: 10px;
}

.ardr-con-board-form > div > p {
    margin-right: 24px;
}

textarea {
    width: 100%;

}

.ardr-board-ex {
    display: flex;
    justify-content: flex-start;
}

.ardr-board-right > div {
    display: flex;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.ardr-board-right > input[type = radio] {
    display: flex;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.ardr-board-right > div > p {
    padding-right: 10px;
}

.ardr-board-right > div > span {

    padding-right: 20px;
}

.ardr-board-creat-submit {
    margin: auto;
    text-align: center;
}

.ardr-con-board-form {
    width: 70%
}

.ardr-con-board-folder {
    width: 300px
}

/*게시판등록 트리메뉴*/

.ardr-board-tree-menu-wrap {
    border-radius: 20px;
    border: 3px solid #d42000;
    height: 80vh;
    font-size: 16px;
    color: #545454;
    font-weight: bold;
    box-shadow: -10px 2px 20px 0 #dbdbdb;
}

.ardr-board-tree-menu-wrap > div {
    text-align: center;
}

.ardr-board-tree-menu-wrap:first-child div {
    margin-top: 10px;
}

details {
    padding: 10px;
}

details > p {
    font-size: 1em;
    text-indent: 2em;
    padding: 5px;

    font-weight: normal;
}

summary {
    cursor: pointer;
    color: #791200;
}
