div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}


div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}


div.daitso-default-frame > div.daitso-menu-wrap {
    width: 350px;
    height: 100vh;
    /*overflow-y: scroll;*/
    background-color: #D42000;
    float: left;
}

div.daitso-default-frame > div.daitso-menu-wrap div.in-logo img {
    width: calc(100% - 15%);
    height: 100%;
    padding: 10px 0 10px 10px;
    margin: 20px;

}

div.daitso-default-frame > div.daitso-content-wrap {
    width: calc(100% - 430px - 40px);
    height: 100vh;
    padding: 50px;
    overflow-y: hidden;


    float: left;
}

div.daitso-default-frame > div.daitso-content-wrap div.in-bread-menu {
    background-color: #D42000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 25px;
}
.in-bread-menu>i {
    color: #fff;
}
div.daitso-default-frame > div.daitso-content-wrap div.in-contents {
    padding: 15px 0 35px 0;
}

div.daitso-default-frame > div.daitso-menu-wrap div.in-menu {
    padding-left: 10px;
    margin: 15px;
}

div.daitso-default-frame > div.daitso-menu-wrap div.in-menu li.menu-group1-item {
    color: #ffffff;
    line-height: 3;
}

div.daitso-default-frame > div.daitso-menu-wrap div.in-menu li.menu-group1-item div.depth1-title {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

div.daitso-default-frame > div.daitso-menu-wrap div.in-menu div.depth2-box {
    padding-left: 20px;
}

div.daitso-default-frame > div.daitso-menu-wrap div.in-menu div.depth2-box a {
    color: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    line-height: 2.3;
    font-size: 15px;
}

ul.menu-group2 > li {
    line-height: 1.8;
    font-size: 15px;
}
