<template>
    <div class="daitso-default-frame flush-box">
        <div class="daitso-menu-wrap">
            <div class="in-logo">
                <nuxt-link to="/"><img src="/images/logo_white.png" alt="logo"/></nuxt-link>
            </div>
            <div class="in-menu">
                <ul>
                    <li class="menu-group1-item" v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex">
                        <div class="depth1-title">{{ menuData.parentName }}</div>
                        <div class="depth2-box">
                            <ul class="menu-group2">
                                <li v-for="(menuData2, menuIndex2) in menuData.menuLabel" v-bind:key="menuIndex2"
                                    v-if="menuData2.isShow">
                                    <nuxt-link :to="menuData2.link">{{ menuData2.currentName }}</nuxt-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="daitso-content-wrap">
            <div class="in-bread-menu">{{ selectedMenu[0] }} <i class="el-icon-arrow-right"></i> {{ selectedMenu[1] }}
            </div>
            <div class="in-contents">
                <Nuxt/> <!-- Nuxt 이 부분이 페이지가 계속 바뀌는 부분 -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {}
    },
    computed: {
        menusList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
        },
        selectedMenu() {
            return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
        },
    }
}
</script>
