<template>
    <div>
        광고 신규문의
    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMPANY_AD_NEW')
    },
}
</script>
