<template>
    <div class="daitso-board-creat-wrap">
        <div class="ardr-con-board-form">
            <div>
                <span>게시판 이름</span><input type="text">
            </div>
            <div class="ardr-board-type-section">
                <span>게시판유형</span>
                <input type="radio" value="이미지 게시판">
                <span>이미지게시판</span>
                <input type="radio"
                       value="일반 게시판"><span>일반게시판</span>
                <input type="radio" value="공지 게시판"><span>공지게시판</span>
            </div>
            <div class="ardr-board-right">

                <div>
                    <p>보기권한</p>
                    <input type="radio" value="이미지 게시판">
                    <span>관리자</span>
                    <input type="radio" value="일반 게시판">
                    <span>회원</span>
                    <input type="radio" value="공지 게시판">
                    <span>비회원</span>

                </div>
                <div>
                    <p>읽기권한</p>
                    <input type="radio" value="이미지 게시판">
                    <span>관리자</span>
                    <input type="radio" value="일반 게시판">
                    <span>회원</span>
                    <input type="radio" value="공지 게시판">
                    <span>비회원</span>
                </div>
                <div>
                    <p>쓰기권한</p>
                    <input type="radio" value="이미지 게시판">
                    <span>관리자</span>
                    <input type="radio" value="일반 게시판">
                    <span>회원</span>
                    <input type="radio" value="공지 게시판">
                    <span>비회원</span>
                </div>
            </div>
            <div>
                <p class="ardr-board-ex">게시판 설명</p>
                <textarea>게시판 설명을 적어주세요.
                </textarea>
            </div>
            <div class="ardr-board-creat-submit">
                <nuxt-link to="con-board"><input type="button" value="등록"></nuxt-link>
                <input type="button" value="취소">
            </div>
        </div>
        <div class="ardr-con-board-folder">
            <div class="ardr-board-tree-menu-wrap"><!--트리메뉴 시작-->
                <details>
                    <summary>
                        <span>게시판</span>
                    </summary>
                    <p>공지사항</p>
                    <p>QnA</p>
                    <p>1:1 문의게시판</p>
                </details>
                <details>
                    <summary>
                        <span>상품카테고리</span>
                    </summary>
                    <p>청소/욕실</p>
                    <p>주방용품</p>
                    <p>스포츠 / 레저 / 취미</p>
                    <p>뷰티 / 위생</p>
                    <p>문구 / 팬시</p>
                    <p>수납</p>
                    <p>공구 / 디지털</p>
                    <p>반려동물</p>
                    <p>인테리어</p>
                    <p>유아 /완구</p>
                    <p>패션 / 잡화</p>
                    <p>식품</p>
                </details>
                <div>
                <input type="radio" value="대분류"><span>대분류</span>
                <input type="radio" value="중분류"><span>중분류</span>
                <input type="radio" value="소분류"><span>소분류</span>
                </div>
                <div>
                <input type="button" value="추가">
                <input type="button" value="삭제">
                </div>
            </div><!--트리메뉴 끝-->

        </div>

    </div>
</template>
<script>
import Form from "@/pages/customer/form.vue";

export default {
    components: {Form},
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CONTENTS_BOARD_CREAT')
    },
}
</script>
