<template>
    <div class="daitso-mem-list-wrap">

        <div>
            <div class="ardr-mem-list-title">
                <div class="ardr-mem-search">금칙어검색 </div>
                <form>
                    <input type="text" id="sbar" name="sbar" value="검색어를 입력해주세요."><i class="el-icon-search"></i></form>
            </div>
        </div>
        <div class="ardr-mem-list-button">
            <input type="button" value="전체선택">
            <input type="button" value="선택삭제">
            <input type="button" value="선택해제">
            <input type="button" value="등록">
            <input type="button" value="수정">
        </div>
        <div class="ardr-mem-list-table">


            <div>
                <table>
                    <tr>
                        <th>선택</th>
                        <th>No</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>가입일</th>
                        <th>상태</th>
                        <th>등급</th>
                        <th>비고</th>
                    </tr>
                    <tr v-for="item in items" :key="item.title">
                        <td><input type="checkbox"></td>

                        <td><span v-html="item.number"></span></td>
                        <td><span v-html="item.guestName"></span></td>
                        <td><span v-html="item.nickname"></span></td>
                        <td><span v-html="item.dateJoin"></span></td>
                        <td><span v-html="item.status"></span></td>
                        <td><span v-html="item.level"></span></td>
                        <td><span v-html="item.etcMemo"></span></td>
                    </tr>
                </table>
            </div>
            <div class="ardr-err-not-data"> 검색 걸과가 없습니다. 검색어를 확인해주세요.</div>
            <el-pagination class="ardr-el-pagination"
                small
                layout="prev, pager, next"
                :total="50">
            </el-pagination>
        </div>
    </div>
</template>
<script>
import Form from "@/pages/customer/form.vue";

export default {
    components: {Form},
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CONTENTS_FORBIDDEN_WORD')
    },
}
</script>
