<template>
    <div class="daitso-mem-list-wrap">

        <div>
            <div class="ardr-mem-list-title">
                <div class="ardr-mem-search">게시글검색</div>
                <form>
                    <input type="text" id="sbar" name="sbar" value="검색어를 입력해주세요."><i class="el-icon-search"></i></form>
            </div>
        </div>
        <div class="ardr-mem-list-button">
            <input type="button" value="전체선택">
            <input type="button" value="선택삭제">
            <input type="button" value="선택해제">
            <input type="button" value="등록">
            <input type="button" value="수정">
        </div>
        <div class="ardr-mem-list-table">
            <div>
                <table :data="list">
                    <tr>
                        <th>선택</th>
                        <th>No</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>가입일</th>
                        <th>상태</th>
                        <th>등급</th>
                        <th>비고</th>
                    </tr>
                    <tr v-for="item in list" :key="item.title">
                        <td><input type="checkbox"></td>
                        <td><span v-html="item.number"></span></td>
                        <td><span v-html="item.guestName"></span></td>
                        <td><span v-html="item.nickname"></span></td>
                        <td><span v-html="item.dateJoin"></span></td>
                        <td><span v-html="item.status"></span></td>
                        <td><span v-html="item.level"></span></td>
                        <td><span v-html="item.etcMemo"></span></td>
                    </tr>
                </table>

            </div>

            <div class="ardr-err-not-data"> 검색 결과가 없습니다. 검색어를 확인해주세요.</div>
            <el-pagination
                small
                :current-page="pageNum"
                layout="prev, pager, next"
                :total="totalCount"
                @current-change="setPage"
            >

            </el-pagination>
        </div>
    </div>
</template>
<script>
import Form from "@/pages/customer/form.vue";


export default {
    computed: {
    },
    components: {Form},
    data() {
        return {
            list: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
            }


            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CONTENTS_POST')
    },
    isNumber(text) {
        return !isNaN(Number(text))
    },

    created() {
        this.getList()
    },
}
</script>
