<template>
    <div class="dash-board-wrap">
        <div class="ardr-dash-board-top">
            <div class="dash-board-top-contents">
                <div class="dash-board-top-contents-title">신규가입자</div>
                <ul class="ardr-contents-ul">

                    <li class="icon-contents first-contents">
                        <div>admin3</div>
                        <div>방금</div>
                    </li>

                    <li class="icon-contents first-contents">
                        <div>admin2</div>
                        <div>1시간전</div>
                    </li>
                    <li class="icon-contents first-contents">
                        <div>admin1</div>
                        <div>2024-01-01</div>
                    </li>

                </ul>
            </div>
            <div class="dash-board-top-contents">
                <div class="dash-board-top-contents-title">신규게시글</div>
                <ul class="ardr-contents-ul">

                    <li class="icon-contents second-contents">
                        <nuxt-link to="/page">

                            <div>admin3</div>
                        </nuxt-link>
                        <div>방금</div>
                    </li>

                    <li class="icon-contents  second-contents">
                        <nuxt-link to="/page">
                            <div>admin2</div>
                        </nuxt-link>
                        <div>1시간전</div>

                    </li>

                    <li class="icon-contents  second-contents">
                        <nuxt-link to="/page">
                            <div>admin1</div>
                        </nuxt-link>
                        <div>2024-01-01</div>
                    </li>

                </ul>
            </div>
            <div class="dash-board-top-contents">
                <div class="dash-board-top-contents-title">햔황한눈에보기</div>

                <ul>
                    <li class="icon-contents icon-contents-all">
                        <div class="icon-align-contents third-contents"><i class="el-icon-user-solid"></i>
                            <span>문의내역</span>
                        </div>

                        <div class="ardr-counting-number">3<span>건</span></div>
                    </li>
                    <div class="dash-board-contents-line"></div>
                    <li class="icon-contents icon-contents-all">
                        <div class="icon-align-contents third-contents"><i class="el-icon-warning"></i>
                            <span>게시글<br>신고내역</span>
                        </div>
                        <div class="ardr-counting-number">3<span>건</span></div>
                    </li>
                    <div class="dash-board-contents-line"></div>

                    <li class="icon-contents icon-contents-all">
                        <div class="icon-align-contents third-contents"><i class="el-icon-warning"></i>
                            <span>댓글<br>신고내역</span>
                        </div>
                        <div class="ardr-counting-number">3<span>건</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ardr-dash-board-bottom">
            <div>
                <div class="ardr-dash-board-bottom-contents-title">신규가입</div>
                <div class="ardr-cart-board">
                    <img src="../assets/images/graph.png" alt="그래프이미지"></div>
            </div>
            <div>
                <div class="ardr-dash-board-bottom-contents-title">신규게시글</div>
                <div class="ardr-cart-board">
                    <img src="../assets/images/graph2.png" alt="그래프이미지"></div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {}
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}


</script>
