<template>
    <div class="daitso-mem-list-wrap">

        <div class="ardr-mem-list-condition">
            <div class="ardr-mem-list-title">
                <div class="ardr-mem-search">회원검색</div>
                <form>
                    <input type="text" id="sbar" name="sbar" value="검색어를 입력해주세요."><i class="el-icon-search"></i>
                </form>
            </div>

            <div class="ardr-el-date-join">
                <div class="block">
                    <p class="demonstration ardr-back-p-asset">가입일</p>
                    <el-date-picker class="ardr-el-date-picker"
                                    v-model="value1"
                                    type="datetimerange"
                                    start-placeholder="Start Date"
                                    end-placeholder="End Date"
                                    :default-time="['12:00:00']">
                    </el-date-picker>
                    <input type="button" value="당일">
                    <input type="button" value="3일">
                    <input type="button" value="일주일">
                    <input type="button" value="한달">
                    <input type="button" value="1년">
                    <input type="button" value="전체기간">
                </div>
                <div class="ardr-status-level-flex">
                    <div>
                        <p class="ardr-back-p-asset">상태</p>
                        <input type="checkbox" value="정상"><span>정상</span>
                        <input type="checkbox" value="휴면"><span>휴면</span>
                        <input type="checkbox" value="정지"><span>정지</span>
                        <input type="checkbox" value="탈퇴"><span>탈퇴</span>
                        <input type="checkbox" value="추방"><span>추방</span>
                    </div>
                    <div>
                        <p class="ardr-back-p-asset">등급</p>
                        <input type="checkbox" value="실버"><span>실버</span>
                        <input type="checkbox" value="골드"><span>골드</span>
                        <input type="checkbox" value="플래티넘"><span>플레티넘</span>
                        <input type="checkbox" value="다이아몬드"><span>다이아몬드</span>
                        <input type="checkbox" value="마스터"><span>마스터</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="ardr-mem-list-button">
            <input type="button" value="전체선택">
            <input type="button" value="선택삭제">
            <input type="button" value="선택해제">
            <input type="button" value="등록">
            <input type="button" value="수정">
        </div>
        <div class="ardr-mem-list-table">
            <div>
                <div>
                    <table :data="list">
                        <tr>
                            <th>선택</th>
                            <th>No</th>
                            <th>이름</th>
                            <th>닉네임</th>
                            <th>가입일</th>
                            <th>상태</th>
                            <th>등급</th>
                            <th>비고</th>
                        </tr>
                        <tr v-for="item in list" v-bind:key="item.title">
                            <td><input type="checkbox"></td>

                            <td><span v-html="item.id"></span></td>
                            <td><span v-html="item.homeId"></span></td>
                            <td><span v-html="item.nickName"></span></td>
                            <td><span v-html="item.dateJoin"></span></td>
                            <td><span v-html="item.status"></span></td>
                            <td><span v-html="item.level"></span></td>
                            <td><span v-html="item.isAdmin"></span></td>
                        </tr>
                    </table>
                </div>

                <el-pagination
                    small
                    :current-page="pageNum"
                    layout="prev, pager, next"
                    :total="totalCount"
                    @current-change="setPage"
                    >

                </el-pagination>
        </div>
    </div>
    </div>
</template>


<script>
import Form from "@/pages/customer/form.vue";


export default {

    components: {Form},
    data() {
        return {
            list: [],
            pageNum: 1,
            totalCount: 0,

        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
            }



            // this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            // this.$store.dispatch(this.$memberConstants.DO_MEMBER_LiST_GET)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },
    isNumber(text) {
        return !isNaN(Number(text))
    },

    created() {
        this.getList()
    },
}

</script>
