<template>
    <div>
        회원추방탈퇴
    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DELETE')
    },
}
</script>
